<%= form_with(model: train_booking, local: true) do |form| %>
  <% if train_booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(train_booking.errors.count, "error") %> prohibited this train_booking from being saved:</h2>

      <ul>
      <% train_booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :ville_départ %>
    <%= form.text_field :city_departure, id: :train_booking_city_departure, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :ville_arrivé %>
    <%= form.text_field :city_arrival, id: :train_booking_city_arrival, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :date_départ %>
    <%= form.date_field :date_departure, id: :train_booking_date_departure, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :heure_départ %>
    <%= form.time_select :time_departure, { min: Date.current, minute_step: 15 }, { class: 'custom-select' } %>
  </div>

  <div class="form-group">
    <%= form.label :siège %>
    <%= form.select :seat_preference, options_for_select(BotBooking::SEAT_PREFERENCES, train_booking.seat_preference || 2), {}, { class: 'form-control' } %>
  </div>

  <div class="actions">
    <%= form.submit :Créer, class: 'btn btn-primary' %>
  </div>
<% end %>
