<%= form_with(model: train_booking, local: true) do |form| %>
  <%= error_messages!(train_booking) %>

  <div class="form-group">
    <%= form.label :ville_départ %>
    <%= form.text_field :city_departure, id: :train_booking_city_departure, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :ville_arrivé %>
    <%= form.text_field :city_arrival, id: :train_booking_city_arrival, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :date_départ %>
    <%= form.date_field :date_departure, id: :train_booking_date_departure, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :heure_départ %>
    <%= form.time_select :time_departure, { min: Date.current, minute_step: 15 }, { class: 'custom-select' } %>
  </div>

  <div class="form-group">
    <%= form.label :siège %>
    <%= form.select :seat_preference, options_for_select(BotBooking::SEAT_PREFERENCES, train_booking.seat_preference || 2), {}, { class: 'form-control' } %>
  </div>

  <div class="actions">
    <%= form.submit action_name, class: 'btn btn-primary' %>
  </div>
<% end %>
