<%= form_with(model: train_booking, local: true) do |form| %>
  <% if train_booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(train_booking.errors.count, "error") %> prohibited this train_booking from being saved:</h2>

      <ul>
      <% train_booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :city_departure %>
    <%= form.text_field :city_departure, id: :train_booking_city_departure %>
  </div>

  <div class="field">
    <%= form.label :city_arrival %>
    <%= form.text_field :city_arrival, id: :train_booking_city_arrival %>
  </div>

  <div class="field">
    <%= form.label :date_departure %>
    <%= form.date_select :date_departure, id: :train_booking_date_departure %>
  </div>

  <div class="field">
    <%= form.label :date_arrival %>
    <%= form.date_select :date_arrival, id: :train_booking_date_arrival %>
  </div>

  <div class="field">
    <%= form.label :time_departure %>
    <%= form.time_select :time_departure, id: :train_booking_time_departure %>
  </div>

  <div class="field">
    <%= form.label :time_arrival %>
    <%= form.time_select :time_arrival, id: :train_booking_time_arrival %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
