<p id="notice"><%= notice %></p>

<h1>Train Bookings</h1>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Date from</th>
      <th>Date to</th>
      <th>Time from</th>
      <th>Time to</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @train_bookings.each do |train_booking| %>
      <tr>
        <td><%= train_booking.from %></td>
        <td><%= train_booking.to %></td>
        <td><%= train_booking.date_from %></td>
        <td><%= train_booking.date_to %></td>
        <td><%= train_booking.time_from %></td>
        <td><%= train_booking.time_to %></td>
        <td><%= link_to 'Show', train_booking %></td>
        <td><%= link_to 'Edit', edit_train_booking_path(train_booking) %></td>
        <td><%= link_to 'Destroy', train_booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Train Booking', new_train_booking_path %>
