<p id="notice"><%= notice %></p>

<h1>Train Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Departure</th>
      <th>City Arrival</th>
      <th>Date Departure</th>
      <th>Date Arrival</th>
      <th>Time Departure</th>
      <th>Time Arrival</th>
      <th>Seat Preference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @train_bookings.each do |train_booking| %>
      <tr>
        <td><%= train_booking.city_departure %></td>
        <td><%= train_booking.city_arrival %></td>
        <td><%= train_booking.date_departure %></td>
        <td><%= train_booking.date_arrival %></td>
        <td><%= train_booking.time_departure %></td>
        <td><%= train_booking.time_arrival %></td>
        <td><%= humanize_seat_preference(train_booking) %></td>
        <td><%= link_to 'Show', train_booking %></td>
        <td><%= link_to 'Edit', edit_train_booking_path(train_booking) %></td>
        <td><%= link_to 'Destroy', train_booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Train Booking', new_train_booking_path %>
