<p id="notice"><%= notice %></p>

<p>
  <strong>City Departure:</strong>
  <%= @train_booking.city_departure %>
</p>

<p>
  <strong>City Arrival:</strong>
  <%= @train_booking.city_arrival %>
</p>

<p>
  <strong>Date Departure:</strong>
  <%= @train_booking.date_departure %>
</p>

<p>
  <strong>Date Arrival:</strong>
  <%= @train_booking.date_arrival %>
</p>

<p>
  <strong>Time Departure:</strong>
  <%= @train_booking.time_departure %>
</p>

<p>
  <strong>Time Arrival:</strong>
  <%= @train_booking.time_arrival %>
</p>

<p>
  <strong>Seat Preference:</strong>
  <%= humanize_seat_preference(@train_booking) %>
</p>

<%= link_to 'Edit', edit_train_booking_path(@train_booking) %> |
<%= link_to 'Back', train_bookings_path %>
