<div class="container">
  <div class="float-right">
    <%= link_to 'Créer', new_reservation_path, class: 'btn btn-primary' %>
  </div>

  <h2 class="flex flex--horizontal-center">Réservations <span class="badge badge-pill badge-primary ml-2"><%= current_user.reservations_count %></span></h2>

  <div class="row">
    <div class="col-lg-9 col-md-10 ml-auto mr-auto">
      <div class="card mb-3">
        <div class="card-header">
          <div class="server-link">
            <div>
              <strong>Réserve ton train en toute tranquilité 🚂</strong>
            </div>
            <div>
              <small class="text-muted">
                On soccupe de tout, tu s'occupes de rien.
              </small>
            </div>
          </div>
        </div>
        <% if current_user.reservations.any? %>
          <div class="card-body p-0">
            <div class="card">
              <ul class="list-group list-group-flush">
                <% @reservations.each do |reservation| %>
                  <li class="list-group-item">
                    <%= link_to edit_reservation_path(reservation) do %>
                      <%= display_status_badge_html(reservation) %>
                      <%= reservation.city_departure %> ➡️ <%= reservation.city_arrival %>
                      le <%= l reservation.date_departure, format: :long %>
                      à <%= l reservation.time_departure, format: :hour %>
                      ( <%= reservation.seat_preference %> )
                      <%= link_to reservation, method: :delete, data: { confirm: 'Êtes vous sûr?' }, class: 'float-right' do %>
                        <%= icon "times" %>
                      <% end %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
