<div class="container">
  <div class="float-right">
    <%= link_to 'Créer une réservation', new_reservation_path, class: 'btn btn-primary' %>
  </div>
  <h1>Réservations</h1>
  <div class="card mb-3">
    <div class="card-header">
      <div class="server-link">
        <div>
          <strong>Réserve ton train en toute tranquilité 🚂</strong>
        </div>
        <div>
          <small class="text-muted">
            On soccupe de tout, tu s'occupes de rien.
          </small>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>Status</th>
                <th>Départ</th>
                <th>Arrivé</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Siège</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @reservations.each do |reservation| %>
                <tr>
                  <td><%= display_status_badge_html(reservation) %></td>
                  <td><%= reservation.city_departure %></td>
                  <td><%= reservation.city_arrival %></td>
                  <td><%= reservation.date_departure %></td>
                  <td><%= reservation.time_departure.strftime("%Hh%M") %></td>
                  <td><%= humanize_seat_preference(reservation) %></td>
                  <% unless reservation.successful? %>
                    <td><%= link_to 'Éditer', edit_reservation_path(reservation) %></td>
                  <% end %>
                  <td><%= link_to 'Supprimer', reservation, method: :delete, data: { confirm: 'Êtes vous sûr?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- <div class="col text-right">
          <a target="blank" class="btn btn-link" href="http://mrtranchette.com">View Site</a>
          <a class="btn btn-outline-success" data-behavior="deploy-app" rel="nofollow" data-method="post" href="/servers/547/apps/570/deploy">Deploy</a>
        </div> -->
      </div>
    </div>
  </div>
</div>
